.pc-item:not(.pc-caption):not(.disabled):hover,
.pc-item:not(.pc-caption):not(.disabled):focus,
.pc-item:not(.pc-caption):not(.disabled).active {
  background-color: #e8f0fe !important;
  color: #4476f2 !important;
  border-radius: 8px;
}

.pc-item:not(.pc-caption):not(.disabled).active .pc-icon,
.pc-item:not(.pc-caption):not(.disabled):hover .pc-icon,
.pc-item:not(.pc-caption):not(.disabled):focus .pc-icon {
  color: #4476f2 !important;
}

.pc-item:not(.pc-caption):not(.disabled).active .pc-caption,
.pc-item:not(.pc-caption):not(.disabled):hover .pc-caption,
.pc-item:not(.pc-caption):not(.disabled):focus .pc-caption {
  color: #4476f2 !important;
}

.pc-item:not(.pc-caption):not(.disabled).active .pc-micon,
.pc-item:not(.pc-caption):not(.disabled):hover .pc-micon,
.pc-item:not(.pc-caption):not(.disabled):focus .pc-micon {
  color: #4476f2 !important;
}

.pc-item:not(.pc-caption):not(.disabled).active .pc-mtext,
.pc-item:not(.pc-caption):not(.disabled):hover .pc-mtext,
.pc-item:not(.pc-caption):not(.disabled):focus .pc-mtext {
  color: #4476f2 !important;
}

/* Estilos para la pestaña activa en nav-tabs */
.nav-tabs .nav-link.active {
  background-color: #e8f0fe; /* Mismo fondo que el menú lateral activo */
  color: #4476f2; /* Mismo color de texto que el menú lateral activo */
  border-color: #dee2e6 #dee2e6 #e8f0fe; /* Ajusta el borde inferior para que coincida con el fondo */
}

/* (Opcional) Estilo hover para pestañas inactivas, similar al menú */
.nav-tabs .nav-link:not(.active):hover {
  background-color: #f8f9fa; /* Un fondo ligeramente diferente al pasar el mouse */
  border-color: #e9ecef #e9ecef #dee2e6;
}
