<!-- [ Layout customizer ] Start -->
<div class="offcanvas border-0 pct-customizer" tabindex="-1" id="pct-customizer">
  <div class="offcanvas-header p-3">
    <h5 class="m-0">Personalización del tema</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-3">
    <div class="mb-3">
      <small class="text-muted">Tema</small>
      <div class="theme-layout">
        <a href="#!" class="active" data-value="false">
          <i class="ti ti-sun f-20"></i>
          <span>Claro</span>
        </a>
        <a href="#!" data-value="true">
          <i class="ti ti-moon f-20"></i>
          <span>Oscuro</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- [ Layout customizer ] End -->
